.container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.3em;
    gap: 1em;
    color: #454F5B;
    height: 100%;
    vertical-align: middle;
}

.searchBtn {
    cursor: pointer;
    background-color: #F3BA2E;
    color: white;
    font-size: 0.7em;
    padding: 0.5em 0.6em;
    border-radius: 0.4em;
}

.navBtn {
    height: 1.5em;
}
