.container, .logo {
    display: flex;
    align-items: center;
    height: 100%;
}
.container {
    gap: 0.5em;
    font-weight: bolder;
    font-size: 1.3em;
}

.logo {
    margin-left: 16px;
}

.logo img {
    width: 96px;
}

